html,
body{
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
.input-styled{
  display: inline-block;
  border-radius: 0;
  background: rgb(239, 239, 239);
  border: none;
  padding: 0 20px;
  height: 50px;
  
}

/*Header*/
.navbar{
  background: rgb(255, 255, 255);
  border: none;
}
.navbar-brand{
  height: 60px;
  padding: 20px;
  color: #ffffff;
}

.navbar-brand:hover{
  color: #fff;
}
.navbar-nav>li a{
  line-height: 20px;
  color: #000;
  text-decoration: normal;
  font-weight: bold;
  font-size:16px;
}
.navbar-nav>li a:hover{
  background: rgba(255, 255, 255, 0.11);
}
.menu-right{
  float:left;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 12;
    overflow: hidden;
    background-color: #ffffff;
   
}

/*Maste Head And Landing Text*/
.mastHead{
  min-height: 2500px;
  padding: 39px 0 40px;
  background: url('../images/skyline.jpg');
 
  background-position: center top;  
  color: #fff;
  text-align: center;
}
.mastHead.landing-page{
  padding-top: 180px;  
  min-height: 1500px;
}
.starter-call-to-action{
  margin: 10px auto 0;
  text-align: center;
}
.starter-call-to-action .call-group{
  display: inline-block;
  background: rgb(0, 0, 0);
  line-height: 60px;
  padding: 0 30px;
  color: #fff;
  margin: 0 10px;  
  text-decoration: none;
}
.starter-call-to-action .call-group:hover{
  background: rgb(59, 109, 146);
}


/*Sign In*/
.signin-to-app{
  display: inline-block;
  width: auto;
  min-width: 550px;
  min-height:340px;
  margin: 60px auto;
  padding:0 20px 80px;
  background: rgba(255, 255, 255, 0.99);
  color:black;
}
.signin-to-app h2{
  line-height: 80px;
  margin: 0 -20px 40px;
  background: rgb(83, 71, 138);
  color: #ffffff;
  font-weight:bold;
}
.signin-to-app p{
  font-size: 20px;
  padding: 10px 20px;
}
.signin-to-app form{
  display: inline-block;
}
.signin-to-app form input[type="text"],
.signin-to-app form button{
  margin: 5px 2px 0;
  width: 240px;
  vertical-align: bottom;
  color: #fff;
}
.signin-to-app form button{
  width: auto;
  line-height: 50px;
  background: #104d7c;
  color:white;
}
.signin-to-app form button:hover{
  background: #6867a5;
}
.signin-expert form input[type="text"],
.signin-expert form button{
  width: 200px;
}
/*Loading*/
.loading-wrap{
  display: inline-block;
  padding: 10px 40px 15px;
  background: rgb(255, 255, 255);
}
.loading-wrap .progress{
  margin: 10px auto 0;
}

/*Expert Info*/
.expert-info{
  display: inline-block;
}
.expert-info .doc-img,
.expert-info .doc-text{
  display: inline-block;
  margin: 0 3px 0;
  vertical-align: bottom;
}
.expert-info .doc-img img{
  height: 135px;
}
.expert-info .doc-text{
  background: rgb(255, 255, 255);
  padding: 20px;
  height: 135px;
}
.expert-info .doc-text button{
  background: #495784;
  height: 45px;
  line-height: 1;
  width: 140px;
  margin-top: 10px;
  color:white;
}
.expert-info .doc-text button:hover{
  background: #7c86d6;
}
.expert-info .doc-text span{
  display: block;
  text-align: left;
}
.expert-info .doc-text span.name{
  font-size: 18px;
}
.expert-info .doc-text span.specialty{
  font-size: 14px;
  color: #ffffff;
}

/*Video Page*/
.video-page-holder{
  background: rgb(25, 30, 39);
  display: inline-block;
  margin-top: 20px;
 
}
.video-page-holder .video-wrap{
  width: 1098px;
  height: 400px;
  position: relative;
}
.video-wrap video{
  width: 100%;
  height: 100%;
}
.video-page-holder .video-wrap .main-video,
.video-page-holder .video-wrap .small-video{
  position: absolute;
  background: #000000;
}
.video-page-holder .video-wrap .main-video{
  background: #000000;
}

.video-page-holder .video-wrap .main-video{
  top:0;
  left: 0;
  width: 100%;
  height: 100%;  
}
.video-page-holder .video-wrap .small-video{
  bottom:0;
  right: 0;
  width: 200px;
  height: 200px;
  border-left: 1px solid #0000;
  border-top: 50px solid #0000;
}
.video-page-holder .actions-holder{
  padding: 20px;
}
.space-styled{
  margin: 0 5px;
  width: 195px;

}
.progress-styled{
  width:280px;
}
.video-page-holder .actions-holder a{
  line-height: 50px;
  color: #fff;
  margin: 0 5px;
  background: rgb(59, 83, 134);
  width: 150px;
  height: 45px;
}
.send-file,
.send-message{
  margin-bottom: 1px;
}
.send-file input[type="text"],
.send-message input[type="text"]{
  width: 930px;
  margin-right: 5px;
  color:black;
  height:34px;
}
.send-file button{
  width: 200px;
  background: #193984;
}
.send-file button:hover{
  background: #739a23;
}
.send-message button{
  width: 140px;
  background: #3b5386;
  height:40px;
}
.send-message button:hover{
  background: #7c86d6;
}

/*Messages Box*/
.message-holder{
  display: inline-block;
  width: 508px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 320px;
  overflow-x: scroll;
}
.message-holder .message-in,
.message-holder .message-out{
  display: block;
  text-align: left;
} 
.message-holder .message-in span,
.message-holder .message-out span{
  display: inline-block;
  padding: 6px 8px;
  margin: 4px 0;
  width: 80%;
  background: rgba(255, 255, 255, 0.17);
  font-size: 12px;
  line-height: 14px;
}
.message-holder .message-in span a,
.message-holder .message-out span a{
  color:#A5F008;
}
.message-holder .message-out{
  text-align: right;
}

/*Video Page*/
.video-page-holder-horizontal .left,
.video-page-holder-horizontal .right{
  float: left;
}
.video-page-holder-horizontal .right{
  width: 235px;
}
.video-page-holder-horizontal .right .message-holder{
  width: 100%;
  height: 567px;
}
.video-page-holder-horizontal .right .message-holder{
  border: none;
  background: #3b5386;
}
